$grey: #898c97d8;
$red: rgba(212, 61, 61, 0.829);
$orange: rgb(207, 111, 21);
$lightgreen: rgba(43, 134, 34, 0.747);
$darkgreen: rgba(5, 150, 126, 0.801);
$darkslategray: #2f4f4f;


@mixin top-shape {
    width: 300px;
    height: 50px;
    border-radius: 5px 5px 0 0;
}

@mixin under-shape {
    background-color: white;
    width: 271px;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 20px;
    padding-right: 20px;
}

body {
    margin: 10px 10%;
    background-color: darkslategray;
    min-width: 900px;
    display: grid;
    grid-template-areas: 'section main right' 'section main right' 'section main right' 'section main right';
    grid-gap: 10px;
}

section {
    padding-top: 20px;
    width: 40%;

}

main {
    padding-top: 20px;
    width: 10%;
}

right {
    padding-top: 20px;
    width: 40%;
}

.text-title {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 10px;
    top: 15px;
    left: 20px;
    text-align: left;
}

.content-box {
    position: relative;
    color: black;
    left: 10px;
}

.shape-top-right {
    clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 3% 100%, 3% 50%, 0% 40%, 3% 30%);
    @include top-shape;
}

.shape-top-left {
    clip-path: polygon(0% 0%, 97% 0%, 97% 30%, 100% 40%, 97% 50%, 97% 100%, 0% 100%);
    @include top-shape;
}

.shape-under-right {
    margin-left: 9px;
    @include under-shape;
}

.shape-under-left {
    margin-right: 9px;
    @include under-shape;
}

.empty-text {
    margin-bottom: 178px;
}

.circle {
    border: 1px solid $grey;
    border-radius: 50%;
    height: 61px;
    width: 61px;
    text-transform: uppercase;
    font-weight: bold;
    color: $grey;
    text-align: center;
}

.line {
    position: relative;
    width: 0;
    border: 1px solid $grey;
    height: 72px;
    left: 30px;
}

.shape-top-left--red {
    background-color: $red;
}

.shape-top-left--orange {
    background-color: $orange;
}

.shape-top-right--lightgreen {
    background-color: $lightgreen;
}

.shape-top-right--darkgreen {
    background-color: $darkgreen;
}
