.container {
    border: 1px solid;
    box-sizing: border-box;
}

img {
    position: relative;
    margin: 21px 20px 20px 0;
    float: left;
    width: 48%;
}

p {
    font-family: "Times New Roman";
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .container {
        font-size: 12px;
    }
}

/* For PC: */
@media only screen and (min-width: 768px) {
    .container {
        font-size: 16px;
    }
}
