img {
    width: 6vh;
}

.container {
    display: grid;
    grid-template-columns: auto 35vh auto;
    margin-top: 20px;
}
.container-left {
    padding-top: 4vh;
    text-align: right;
}

.container-center {
    text-align: center;
    margin: 0;

}

.container-center span{
    text-decoration: underline solid #ff6724;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    color: #696969;
}


.container-right {
    text-align: left;
    padding-top: 4vh;
}

#icon-right {
    transform: scaleX(-1);
}
